# Core dependencies
pyrofork
tgcrypto
aiofiles
aiohttps
# System utilities
psutil
humanize
colorama
tqdm

# Archive handling
rarfile
py7zr
patool
pyunpack

# Network utilities
aiohttp
requests

# Utility
python-dotenv
gunicorn
flask
